extends ../../_layout

block vars

  - var description = 'Море, море. Мир бездонный. Основной акцент – создание в пространстве морской свежести, ощущение прибоя внутри помещения.  Очень хорошо как символ зарождающейся семьи – корабль, отплывающий в долгое плавание.</p><p>В декоре - вся морская символика: ракушки, медузы, рыбацкие сети, флажки, камешки, жемчуг, морские звезды, рыбки. Как символы: маяк, корабль, штурвал, стекло, стеклянные бутылки, тельняшки. Цвета: голубой, синий, зеленый, бирюза, также песочный и оранжевый (на контрасте).'

  - var flower = 'Цветовая палитра: белые – голубые – синие, розы, гортензии, гипсофилы, каллы, оливы.';
  - var musthave = 'Главное -изображение моря от мини до макси. Паруса, драпировки, канаты имитации кораблей (или их изображение). Черепашки.';

  - var page = {title: 'Морская', url: 'style/navy', type: 'style-page', class: 'page style navy', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/navy/navy-', qnt: 6}}

block content
  +style-page(page)