extends ../../_layout


block vars
  - var page = {title: 'Сезонные свадьбы', url: 'style/season', type: 'list', class: 'list season', content: {}, list: [],breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}]}

  - page.list.push({title: 'Зимняя', link: 'winter'})
  - page.list.push({title: 'Весенняя', link: 'spring'})
  - page.list.push({title: 'Летняя', link: 'summer'})
  - page.list.push({title: 'Осенняя', link: 'autumn'})


block content
  +list-page(page)