extends ../../_layout

block vars

  - var description = 'Атмосфера тепла, уюта, семейности. Спокойного торжества. Ничего кричащего. Самое главное украшение свадьбы – невеста в традиционном белом платье.</p><p>Полное воплощение свадебных традиций: выкуп и похищение невесты, каравай и  встреча родителями, передача домашнего очага и разбивание бокалов на счастье.'

  - var flower = 'Розы, хризантемы, эустома,матиола, фрезия, астильба, статица, зелень. Цветочная арка.';
  - var musthave = 'Классические традиции декорирования. Спокойные цвета. Круглый букет невесты. Торжественный президиум с цветами. Украшенные стулья. Свечи как символ домашнего уюта.';

  - var page = {title: 'Традиционная классическая', url: 'style/classic', type: 'style-page', class: 'page style classic', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/classic/classic-', qnt: 6}}

block content
  +style-page(page)