extends ../../_layout

block vars

  - var description = 'Символ и суть Великой американской мечты. Очень вычурная, хулиганская, отвязная. Все будет весело и рок – н- ролльно. Ретро-стиль Золотого периода  Голливуда. Российский кинообраз – фильм "Стиляги".</p><p>Элвис Пресли и Мерлин Монро. Много наивного. Детская cвадьба для взрослых. Пластинки как декор. Фото звезд на стенах. Ретро – тачки (изображения или живьем). Плакаты – афиши.'

  - var flower = 'Герберы, розы, тюльпаны, пионы. В композициях – микс воздушных шаров и цветов.';
  - var musthave = 'Бас – гитары, банты, ленты, шары. Блеск. Рок – н -  ролл. Фото – будка, коллажи, гирлянды (электро- с ретро – лампами). Флажки. Яркие галстуки. Коктейли с трубочками. Coca-Cola.';

  - var page = {title: 'Ретро 50-60 г (Стиляги)', url: 'style/retro-dudes', type: 'style-page', class: 'page style retro-dudes', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/retro-dudes/retro-dudes-', qnt: 6}}

block content
  +style-page(page)