extends ../../_layout

block vars

  - var description = 'Дух шика и яркости 20 – 30 годов прошлого века. Некоторая авантюрность. Царский стиль в деталях, элементах. Мелодии джаза, фокстрота. В кино этот стиль ассоциируется с фильмом Великий Гетсби.</p><p>Диадемы, шляпки. Головные украшения (дресс – код или в фотозоне). Бисер. Имитации драгоценных камней. Зонтики. Геометрические орнаменты как структура. Базовые цвета: черный, белый, золотой.'

  - var flower = 'Розы, георгины, гладиолусы, лилии, каллы. В композициях –  страусиные перья и нити жемчуга.';
  - var musthave = 'Море шампанского. Изысканность в сервировке. Много мелких и изящных элементов. Витражи, металл, бронза, хрусталь, жемчужные нити. Черно – белые фотографии в роскошных золотых рамах.';

  - var page = {title: 'Ретро 20-30 г (Арт-Нуво)', url: 'style/retro-artnouveau', type: 'style-page', class: 'page style retro-artnouveau', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/retro-artnouveau/retro-artnouveau-', qnt: 6}}

block content
  +style-page(page)