extends ../../_layout

block vars

  - var description = 'Лучшее из искусств – кино. Свадьба на красной ковровой дорожке. Воплощение современной мечты. Часто – инсценировка золотых лет Голливуда. Шик. Гламур. Почувствуйте себя киноидолом.</p><p>Невеста в образе кинодивы. У гостей – дресскод  для прохода по дорожке. Может быть аллея звезд с именами молодых и их гостей. Богатое кинополе для постановки энтертейнмента.'

  - var flower = 'Роскошный- орхидеи, розы, гортензии. Плотное цветочное наполнение композиций. Цвета яркие – красные, бордовые. Золотые элементы.';
  - var musthave = 'Красная ковровая дорожка. Софиты. Ограждения. Статуэтки Оскара. Фотографии звезд. Афиши фильмов. Элементы киносъемок (старинные киноаппараты, хлопушка). Имитации киноленты. Золото. Зеркала. Хрусталь. Перья. Меха.';

  - var page = {title: 'Кино(Оскар)', url: 'style/cinema', type: 'style-page', class: 'page style cinema', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/cinema/cinema-', qnt: 6}}

block content
  +style-page(page)