extends ../../_layout

block vars

  - var description = 'Праздник смеха и веселья. Все прикалываются, дурачатся, смеются,  разыгрывают друг друга. Главное – радоваться, создавать радость и передавать ее другим.</p><p>В декоре – яркость красок, разноцветица. Нет выраженного стиля. Буйство красок. Все цвета радуги. Основной акцент свадьбы – развлечения (энтертейнмент).'

  - var flower = 'Разноцветные хризантемы, герберы, розы, бувардия, сухоцветы, ягоды.';
  - var musthave = 'Элементы циркового, клоунского антуража. Ленточки, шарики, бубенчики. Веселые фото – зоны (для гостей: носы, парики, бабочки).';

  - var page = {title: 'Молодежная', url: 'style/youth', type: 'style-page', class: 'page style youth', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/youth/youth-', qnt: 6}}

block content
  +style-page(page)