extends ../../_layout


block vars
  - var page = {title: 'Путешествия', url: 'style/travel', type: 'list', class: 'list travel', content: {}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}]}

  - page.list.push({title: 'Венеция', link: 'venice'})
  - page.list.push({title: 'Лондон', link: 'london'})
  - page.list.push({title: 'Париж', link: 'paris'})
  - page.list.push({title: 'Мадрид', link: 'madrid'})


block content
  +list-page(page)