extends ../../_layout

block vars

  - var description = 'Этнический стиль. Сочетание роскоши и старины. Безупречный стиль с элементами хиппи – дети цветов. Свадьба – сказка.</p><p>Обилие всего: много кружев, орнаментов, лент. Этническое изобилие: многостильность и многослойность. Используются макраме, бисер, бусы, бусины, ленты, разнообразие тканей, браслеты.'

  - var flower = 'Простые цветы (маки), много зелени, свисающие листья, цветочные гирлянды. В композиции добавлены ленты, макраме, пионы, зеленые ветки.';
  - var musthave = 'Ковры, подушки, светильники, украшения стульев, ленты. Иногда – мини – шатры, свечи. Развешанные подвесные стеклянные шары (аквариумы) с цветами.';

  - var page = {title: 'Бохо', url: 'style/boho', type: 'style-page', class: 'page style boho', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/boho/boho-', qnt: 6}}

block content
  +style-page(page)