extends ../../_layout

block vars

  - var description = 'Принесем волшебный лес в Ваш банкетный зал. Как будто рука человека не касалась этого лесного богатства. Природная гармония.</p><p>Свежесть. Естественные натуральные цвета. Расслабленность и умиротворенность. Может смотреться необычно на контрасте с ритмом современного города.'

  - var flower = 'Ягоды, плоды, листья папоротника, мох, лютики, суккуленты,  цветы на контрасте зелени, вероника, эрингиум, гиперикум, вибурнум, стрелиция, ветки деревьев, сучки, шишки, перья.';
  - var musthave = 'Зеленый цвет. Постер с изображением леса или природы. Много веток, природных элементов – мох, шишки, коряги, лесные цветы.';

  - var page = {title: 'Лесная', url: 'style/forest', type: 'style-page', class: 'page style forest', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/forest/forest-', qnt: 6}}

block content
  +style-page(page)