extends ../../../_layout

block vars

  - var description = 'Здравствуй, Зимушка, Зима. Красивая. Студеная. Морозная. Суть декора – замораживаем пространство. Зимняя сказка, таинственность, иней, зимний лес. И как волшебство – огоньки и свечи.</p><p>Атмосфера близка к спокойному новогоднему декору. В помещении: хрусталь, свечи, иней, искусственный снег, войлок, мех. Могут быть животные и зимующие птички: снегири, синицы, олени.'

  - var flower = 'В композициях вместо зелени используются хвоя и шишки, белые розы, гипсофилы, анемоны, герберы, гвоздика, ранункулюс, хлопок, бруния,  амариллис, сезонные белые цветы. Могут быть красные элементы, например, пуанцетия.';
  - var musthave = 'Белый, может быть голубой цвет в декоре, искусственный снег, заснеженные ветки, хвоя.';

  - var page = {title: 'Зимняя', url: 'style/winter', type: 'style-page', class: 'page style winter', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/season', name: 'Сезонные свадьбы'}], slider: {path: 'style/season/winter/winter-', qnt: 6}}

block content
  +style-page(page)