extends ../../../_layout

block vars

  - var description = 'Ощущение весны. Пробуждение природы. Зарождение новой жизни. Создаем настроение цветущего весеннего сада. Много света. Лучшее время для рождения новой семьи.</p><p>Цвета: нежные, неяркие (розовые, белые) прозрачность в пространстве. Упор на цвет, свежесть, радостное и нежное настроение.'

  - var flower = 'Большое количество мелких цветов (подснежники, ландыши), ирисы, сирень, пионы. Мало зелени, первоцветы (тюльпаны, крокусы, нарциссы), цветущие кустарники.';
  - var musthave = 'Стекло как элемент свежести, невесомости в общем декоре пространства и цветочных композициях.';

  - var page = {title: 'Весенняя', url: 'style/spring', type: 'style-page', class: 'page style spring', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/season', name: 'Сезонные свадьбы'}], slider: {path: 'style/season/spring/spring-', qnt: 6}}

block content
  +style-page(page)