extends ../../_layout

block vars

  - var description = 'Самая роскошная и богатая свадьба. Свадьба для королей. Подчеркивает Ваше величие, статус и размах. Всего много и очень богато.</p><p>Имитация оформления дворца. Могут быть кареты, лошади, "живая" музыка. Передаем дух богатства и роскоши. Пространство помещения должно обязывать. Чем больше украшенных элементов – тем больше пышности и красоты.'

  - var flower = 'Самые роскошные розы, гортензии, орхидеи, анемоны, тюльпаны, пионы, амариллисы.';
  - var musthave = 'Море цветов и цветочных композиций.  Очень дорогая сервировка стола (золото, хрусталь, фарфор). Канделябры, декорированные цветами и свечами.';

  - var page = {title: 'Роскошь', url: 'style/luxury', type: 'style-page', class: 'page style luxury', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/luxury/luxury-', qnt: 6}}

block content
  +style-page(page)