extends ../_layout


block vars
  - var page = {title: 'Зоны', url: 'zone', type: 'list', class: 'list zone', content: {}, list: []}


  - page.list.push({title: 'Выездная регистрация', link: 'registration'})
  - page.list.push({title: 'Президиум', link: 'presidium'})
  - page.list.push({title: 'Столы гостей', link: 'guest-tables'})
  - page.list.push({title: 'Детский стол', link: 'kinder-table'})
  - page.list.push({title: 'Зона апперитива', link: 'apperitive'})
  - page.list.push({title: 'Welcome-зона', link: 'welcome'})
  - page.list.push({title: 'Танцпол', link: 'dance-floor'})
  - page.list.push({title: 'Зона подарков и пожеланий', link: 'gifts-wishes'})
  - page.list.push({title: 'Candy-bar', link: 'candy-bar'})
  - page.list.push({title: 'Вынос торта', link: 'cake-takeaway'})
  - page.list.push({title: 'Лаунж-зона', link: 'lounge'})
  - page.list.push({title: 'Фотозона', link: 'photo'})


block content
  +list-page(page)