extends ../../../_layout

block vars

  - var description = 'Традиционно – красная свадьба. Даже наряд невесты – красный. Яркая, воздушная, изысканная, замысловатая с элементами или выстроенное пространство по принципам фен-шуй./p><p>За внешней многоплановостью прослеживается четкость. Пространство идет в глубину. В смысл. Строго. Пышно. Богато.'

  - var flower = 'Все красные цветы: розы, георгины, хризантемы, бамбук, использование камней в композициях, керамика, цветущие ветки (типа сакуры), ягоды, анемоны и конечно же пионы - национальный цветок Китая.';
  - var musthave = 'Иероглифы. Фонарики. Китайский фарфор. Замысловатые орнаменты, ведущий цвет – красный, золотой, белый, черный. Веера (маленькие и большие). Ширмы. Драпировки. Благоприятная символика, основанная на культе задабривания духов. Свечи.';

  - var page = {title: 'Китай', url: 'style/china', type: 'style-page', class: 'page style china', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/national', name: 'Национальные свадьбы'}], slider: {path: 'style/national/china/china-', qnt: 6}}

block content
  +style-page(page)