extends ../../../_layout

block vars

  - var description = 'Сочетание всего яркого, южного, разноцветного с hand – made элементами: коврики, дорожки. Парео. Кактусы. Настроение невыносимой жары, остроты чувств и эмоций. Мало зелени.</p><p>Колористика: яркий цвет на фоне песочных тонов. Национальные мексиканские орнаменты (плитка, посуда). Из забав – пиньята. Много лент. Самбреро. Пояса, крупные украшения. Коктейли.'

  - var flower = 'Яркие оттенки цветов, сукуленты (каменный цветок и прочее), маки, пионовидные розы, герберы, георгины, каспедия, буплерум, глиняная посуда в композициях, крупные, яркие очень многоцветные букеты. ';
  - var musthave = 'Много керамики: горшки в композициях, посуда, пробковое дерево, мексиканские орнаменты, маракассы, гитары как декор.';

  - var page = {title: 'Мексика', url: 'style/mexico', type: 'style-page', class: 'page style mexico', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/national', name: 'Национальные свадьбы'}], slider: {path: 'style/national/mexico/mexico-', qnt: 6}}

block content
  +style-page(page)