.nav
  .left
    a(href='/').link-contact Контакты
  .right
    a(href='/').link-about О нас


  //- .home
  //-   a(href='/').link-no-decor LeDecor
  //- .menu
  //-   a(href='/styles' class=(activeMenu=='styles' ? 'active' : '')).link-no-decor Елки
  //-   a(href='/elements' class=(activeMenu=='elements' ? 'active' : '')).link-no-decor Элементы
  //-   a(href='/environments' class=(activeMenu=='environments' ? 'active' : '')).link-no-decor Пространства
  //-   a(href='/contact' class=(activeMenu=='contact' ? 'active' : '')).link-no-decor Контакты
