extends ../../_layout

block vars

  - var description = 'Рустик. Деревенский стиль. Кантри. Прованс . В разных культурах названия могут быть разные, но их роднит трогательность, душевность, неброскость, простота. Стиль, отражающий сельский быт, деревенский уклад.</p><p>Домашний уют на фоне природы. Приобщенность к природе даже в закрытом помещении. Используются: ручная работа, дерево, мешковина, лен, кружева, стога сена, бочки, деревянные арки, могут быть двери, крафт – бумага. Свадьба – милая, родная, теплая, семейная, для близких по духу людей.'

  - var flower = 'Мелкие, нежные, простые садовые виды цветов, природные (несортовые), лаванда, ранункулюс, скабиоза, кампанула, ромашки, гипсофила, статица, подсолнух, колосья, травы.'

  - var musthave = 'Натуральные элементы, лаконичные детали в нарядах молодоженов, натуральные ткани, кружева, могут быть фигурки животных.'

  - var page = {title: 'Рустик', url: 'style/rustic', type: 'style-page', class: 'page style rustic', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/rustic/rustic-', qnt: 6}}

block content
  +style-page(page)