extends ../_layout


block vars
  - var activeMenu = ''
  - var page = 'style'
  - var title = 'Стиль свадьбы'

  - var list = []

  - list.push({title: 'Рустик', link: 'rustic'})
  - list.push({title: 'Лесная', link: 'forest'})
  - list.push({title: 'Бохо', link: 'boho'})
  - list.push({title: 'Шебби-Шик', link: 'shebby-shik'})
  - list.push({title: 'Сезонные', link: 'season'})
  - list.push({title: 'Лофт', link: 'loft'})
  - list.push({title: 'Восточная', link: 'oriental'})
  - list.push({title: 'Национальные', link: 'national'})
  - list.push({title: 'Кино (Оскар)', link: 'cinema'})
  - list.push({title: 'Ретро 50-60 г (Стиляги)', link: 'retro-dudes'})
  - list.push({title: 'Ретро 20-30 г (Арт-Нуво)', link: 'retro-artnouveau'})
  - list.push({title: 'Морская', link: 'navy'})
  - list.push({title: 'Рок-Диско', link: 'rock-disco'})
  - list.push({title: 'Путешествия', link: 'travel'})
  - list.push({title: 'Роскошь', link: 'luxury'})
  - list.push({title: 'Глянец', link: 'gloss'})
  - list.push({title: 'Техно', link: 'techno'})
  - list.push({title: 'Рыцарский замок', link: 'castle'})
  - list.push({title: 'Молодежная', link: 'youth'})
  - list.push({title: 'Карнавальная', link: 'carnival'})
  - list.push({title: 'Традиционная классическая', link: 'classic'})
  - list.push({title: 'Индивидуальная', link: 'individual'})
  - list.push({title: 'Фото как декор', link: 'photo'})
  - list.push({title: 'Русский стиль', link: 'russian'})


block content
  +list-page(page, title, list)