extends ../../../_layout

block vars

  - var description = 'В традиции Индии свадьба – это одно из самых важных событий в жизни. Она похожа на театральное представление. Радужные, яркие цвета. Очень много цветов, гирлянд. Индийские орнаменты: рисунки, зашифрованные символы. Мандалы.</p><p>Свадьба яркая и веселая. Очень много цветов, драпировок, огня (свечи, имитации). Резьба. Колокольчики. Все звенит, все блестит. Знойное настроение. Фигурки слонов, камешки, браслеты, украшения. Как развлечение зона для мехенди (тату из хны).'

  - var flower = 'Базовые цветы – орхидеи, розы, хризантемы, гвоздики, экзотические цветы и растения (антуриум, стрелиция, антирринум), плоды лотоса.';
  - var musthave = 'Гирлянды из цветов, даже занавеси из цветов. Индийские одежды (хотя бы элементы), колокольчики, бубенчики, большие люстры.';

  - var page = {title: 'Индия', url: 'style/india', type: 'style-page', class: 'page style india', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/national', name: 'Национальные свадьбы'}], slider: {path: 'style/national/india/india-', qnt: 6}}

block content
  +style-page(page)