extends ../../../_layout

block vars

  - var description = 'Лето – это маленькая жизнь. Радость. Веселье. Сочность цветов. Ягоды: черешня, клубника, малина. Различные дары лета. Солнце. Зелень. Яркие краски. Полнота жизни. Свадьба как Рог изобилия.</p><p>В декоре: лимонады, веера, фрукты, ягоды. Активные цвета. Смешение цветов, лепестки роз. Настроение летнего зноя.'

  - var flower = 'Розы, пионы, лилии, подсолнухи, гортензии, маки, стахис, астильба, ежевика, пионовидные розы.';
  - var musthave = 'Много цветов и зелени, обыгрываются садовые объекты: стулья, шезлонги, лейки, зонтики, беседки, навесы. Венки из цветов на голову гостям.';

  - var page = {title: 'Летняя', url: 'style/summer', type: 'style-page', class: 'page style summer', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/season', name: 'Сезонные свадьбы'}], slider: {path: 'style/season/summer/summer-', qnt: 6}}

block content
  +style-page(page)