extends ../../../_layout

block vars

  - var description = 'Золотая осень – мечта поэтов. Богатство и зрелость плодов, природы, чувств. Передаются в атмосфере пространства лучшие моменты золотой осени. Теплый, золотой колорит. Минимальное количество зелени.</p><p>Яркость, насыщенность цветов осенней палитры. Зрелость природы. Ощущение листопада. Много желтого цвета, осенние плоды, листья ветки.'

  - var flower = 'Георгины, хризантемы, астры, альстромерия, гладиолусы, физалис. В палитре: желтый – оранжевый – красный цвет. Плоды (яблоки на ветках, гранаты), ягоды (рябина), колосья, сухоцветы.';
  - var musthave = 'На контрасте золотой листвы – шоколадные и коричневые элементы.';

  - var page = {title: 'Осенняя', url: 'style/autumn', type: 'style-page', class: 'page style autumn', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/season', name: 'Сезонные свадьбы'}], slider: {path: 'style/season/autumn/autumn-', qnt: 6}}

block content
  +style-page(page)