extends ../../_layout

block vars

  - var description = 'Восток – дело тонкое. Ваша свадьба – как картинка из сказок Шахеризады. Обилие яркого цвета, ткани, шатры, шелка, золото, кальяны, подушки, витражи, балдахины, кисти.</p><p>Имитация драгоценных камней, монеты. Может быть выступление танцовщиц.'

  - var flower = 'Тропические свисающие лианы, яркие орхидеи дендробиум, ванда, могут, виноград, хризантемы, бувардия, очень много ярких цветов,и конечно же розы. Эффектны в композициях перья павлина.';
  - var musthave = 'Восточные фонари, лампы, ширмы, мелкие сложные орнаменты,  свечи, ароматические палочки, восточные сладости, посуда (медь, позолота). Восточная живопись, мандалы. Всего много – изобилие.';

  - var page = {title: 'Восточная', url: 'style/oriental', type: 'style-page', class: 'page style oriental', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/oriental/oriental-', qnt: 6}}

block content
  +style-page(page)