extends ../../../_layout

block vars

  - var description = 'Обыгрывание в декоре национальных цвета: красный синий, белый. Настроение туманное, спокойное, нейтральное, и на их фоне выделяются базовые цвета. Красивые четкие шрифты текстов в декоре.</p><p>Фото Лондона – базовые виды: Темза, Парламент, БигБен. Обыгрываются узнаваемые элементы архитектуры. Яркие цвета и виды на базе нейтрального. Тема королевской семьи (корона, персоналии).'

  - var flower = 'Роза, гортензия, анемоны, тюльпаны в заданной цветовой палитре: синий- красный  - белый и нейтральные.';
  - var musthave = 'Городская романтика. Флаг. Телефонная будка. Гвардейцы. Двухэтажный автобус. Символика метро.';

  - var page = {title: 'Лондон', url: 'style/london', type: 'style-page', class: 'page style london', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'},{link: 'style/travel', name: 'Путешествия'}], slider: {path: 'style/travel/london/london-', qnt: 6}}

block content
  +style-page(page)