extends ../../_layout

block vars

  - var description = 'Основной элемент – свободное высокое (часто неуютное) пространство, несущее в себе индустриальный дух. Свадебный декор его преобразует, создавая напряжение и колорит. Здесь есть где размахнуться и повеселиться от души.</p><p>В декоре - элементы роскоши – современный шик: золотые рамы, зеркала, стекло. Много цветочных композиций. Могут быть – слайд- шоу на стенах, много драпировок.  Часто используются световые конструкции и световые гирлянды.'

  - var flower = 'Любые цветы, часто использование гигантских цветов (искусственных или бумажных), каллы, орхидеи, розы, лилии, амариллисы, эвкалипт и другая зелень.';
  - var musthave = 'Подвесные конструкции: цветы, гирлянды, люстры или ткани – или над отдельными зонами (столы, танцпол и др) или повсеместно. Использование крупных элементов декора.';

  - var page = {title: 'Лофт', url: 'style/loft', type: 'style-page', class: 'page style loft', content: {desc: description, flow: flower, must: musthave}, list: [], breadcrumbs: [{link: 'style', name: 'Стиль свадьбы'}], slider: {path: 'style/loft/loft-', qnt: 6}}

block content
  +style-page(page)